*,
*::before,
*::after{
    box-sizing: border-box;
}

/*custom properties , update with your own design*/

:root{
    --ff-primary: 'Epilogue', sans-serif;
    --ff-secondary: 'Playfair Display', serif;
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1rem;  
    --fs-body:1.25rem;
    --clr-nav-link-toggle: #fff;
    --clr-header-bg-toggle: transparent;
    --clr-nav-toggle: #303030;
    --bs: .25em .25em .75em rgba(0,0,0,.25),
    0.125em 0.125em .25em rgba(0,0,0,.15);
}

@media (min-width: 800px){
    :root{
        --fs-h1:4.5rem;
        --fs-h2:3.75rem;
        --fs-h3:1.2rem;
        --fs-body:1.125rem;
    }
}

/*General Styles*/

html{
    scroll-behavior: smooth;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{
    padding: 5em 2em;
}

img{
    display: block;
    /*with this image will not overflow from its parent*/
    max-width: 100%;
}

/*this is the strong element that s given to the intro title in h1*/
strong{font-weight: var(--fw-bold);
       font-family: 'Dancing Script', cursive;
       background: -webkit-linear-gradient(rgb(62, 247, 207), #ffeb3b,#fd6b25);
       -webkit-background-clip: text;
        background-clip: text;
       -webkit-text-fill-color: transparent;
       font-size: 1.5em;
}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}
/*Button*/

.btn{
    background: rgb(5, 135, 211); /*linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);*/
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: .96em;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 500ms;
    border-radius: 40px;
    font-family: sans;
    box-shadow: var(--bs);
    padding: 1em 3em;
    

}
@media(max-width:470px){
    .btn{
    padding: .7em 2.4em;
    letter-spacing: 1.4px;
    font-size: .76em;
    }
}
.btn:hover{
    /*transform: scale(1.1);*/
    /*border: 2px solid var(--clr-accent);*/
     /*border-top-left-radius: 8px;*/
     /*border-bottom-right-radius: 8px;*/
     /*background: red;*/
     /*color: white;*/
    background: rgb(253, 32, 32);
    /*color: var(--clr-accent);*/
}




/*Typography*/
h1,
h2,
h3{
    line-height: 1.1;
    margin: 0;
}
h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

.section__title{
    margin-bottom: .25em;
    font-family: 'Abril Fatface', cursive;
    color: #153e4d;
}

/* here is something to understand*/
.section__title--intro {
    font-weight: var(--fw-reg);
    color: white;
}
.section-title-about{
    width: 5em;
    text-align: center;
    padding-bottom: 1em;
    margin: 0 auto;
}
.section__title--intro strong{
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}
.section__subtitle--intro,
.section__subtitle--about{
    background: rgb(250, 42, 42);
    font-family: var(--ff-secondary);
    padding: .25em .5em;
    color: white;
    margin-bottom: 1em;
    box-shadow: var(--bs);
}

.section__subtitle--work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.common_para{
    color: var(--clr-light);
    font-size: .7em;
}
/*header*/
@media( min-width: 801px){
header{
    display: flex;
    padding: .5em;
    align-items: center;
    /*background-color: rgb(59, 46, 87);*/
    /*background-image: url(../img/intro_2.jpg);
    background-size: cover;
    background-blend-mode: multiply;*/
    background: var(--clr-header-bg-toggle);
    transition: background 250ms ease-in;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 300;
    /*opacity: .9;*/
    /*box-shadow: 4px 2px 7px #888585;*/
}

.nav{
    position: relative;
    left: 2.5em;
}

/*this is UL*/
.nav__list{
    list-style: none;
    display: flex;
    transform: (-50%,-50%);
}
/*changes li*/
.nav__item{
    display: inline-block;
    transform-style: preserve-3d;
    padding: 3px;
}


.nav__link{
    color: var(--clr-nav-link-toggle);
    text-decoration: none;
    padding: .37em .6em;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    position: relative;
    transition: all .2s ease-in;
}
.nav__link::before{
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    background: #f30000;
    color: #fff;
    padding: .37em .6em;
    border-radius: 8px;
    box-shadow: var(--bs);
    transform-style: preserve-3d;
    transition: .3s;
    transform: rotateX(90deg) translateY(50px);
    transform-origin: bottom;
}

.nav__link:hover::before{

    transform: rotateX(0deg) translateY(0px);
    /*color: rgb(62, 247, 207);
    text-decoration: underline;
    
    background-color: rgb(255, 255, 255);
    box-shadow: var(--bs);
    border-radius: .9em;*/
}
/*.nav__link::after{
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    color: #262626;
    padding: .37em .6em;
    transform-style: preserve-3d;
    transition: .3s;
    transform: rotateX(0deg) translateY(0px);
    transform-origin: top;
    display: none;
}

.nav__link:hover::after{
    display: unset;
    transform: rotateX(90deg) translateY(-10px);
    
    color: rgb(62, 247, 207);
    text-decoration: underline;
    
    background-color: rgb(255, 255, 255);
    box-shadow: var(--bs);
    border-radius: .9em;
}*/
.nav__link:focus{
    outline: none;
}
/*.nav__item{
    margin: 0 1em;
}*/
.logo{
    position: relative;
    left: 1.5em;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.nav-toggle{
    display: none;
 }
}
/*CSS for mobile*/
@media(max-width: 800px){
header{
    display: flex;
    justify-content: space-between;
    padding: .4em;
    align-items: center;
    /*background-color: rgb(59, 46, 87);
    box-shadow: 7px 5px 10px #888585;*/
    position: fixed;
    background: var(--clr-header-bg-toggle);
    transition: background 250ms ease-in;
    left: 0;
    right: 0;
    z-index: 300;
   /* opacity: .9;*/
}
.logo{
    position: relative;
    left: .5em;
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.nav{
    background: var(--clr-nav-toggle);
    /*color: var(--clr-nav-toggle);*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 450;
    /*transition and transformation to be seen*/   
    /*transition: transform 250ms cubic-bezier(.5, 0, 0.5, 1);*/
    transform: translateX(100%);
    
}
.nav__list{
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav__link{
    color: var(--clr-nav-link-toggle);/*inherit*/
    text-decoration: none;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
}
.nav__link:hover{
    color: var(--clr-accent);
}
.nav-toggle{
    /*display: unset*/
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    z-index: 500;
}
.nav-toggle:focus{
    outline: none;
}
/*.nav-open sets a class to the body*/
.nav-open .nav{
    transform: translateX(0);
    transition: transform 250ms cubic-bezier(.5, 0, 0.5, 1);
}
/*this makes the position fixed of nav-toggle when navigation bar is opened*/
.nav-open .nav-toggle{
    position: fixed;
}

.nav-open .hamburger{
    transform: rotate(.625turn);
}
.nav-open .hamburger::before{
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after{
    opacity: 0;
}


.hamburger{
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before{top: 6px;}
.hamburger::after{bottom: 6px;}

}

/*header event listenenig*/
.nav-scrolled{
    --clr-header-bg-toggle: var(--clr-light);
    --clr-nav-toggle: var(--clr-light);
    --clr-nav-link-toggle: var(--clr-dark);
      box-shadow: var(--bs);
}

/*Intro Section*/

/*in intro section i have to see some grid properties*/
.intro{
    position: relative;
    overflow: hidden;
    /*background-image: url(../img/tech_bg.jpg);*/
}
.intro::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:linear-gradient(45deg,#ff0081,#6827b0);
    border-radius: 0 0 50% 50%/0 0 40% 30%;
    transform: scaleX(1.5);
    z-index: -12;
    
}

.intro__img{
    box-shadow: var(--bs);
    border-radius: 5px;
}

/*I changed here 600px to 800px
 min-width: 800px means that this media query will fire when resolution is 800px or more*/
@media(min-width: 521px){
    .intro{
        display: flex;
        /*background-image: url(../img/bg_intro.jpg);
          background-size:     cover;
          background-repeat:   no-repeat;*/
        /*background-color: var(--clr-dark);*/
        /*background-blend-mode: multiply;*/
        /*background-image: url(../img/tech_bg.jpg);*/
        /*background-size: cover;*/
        width: 100%;
        /*height: 95vh;*/
        overflow: hidden;
        /*height: 35em;*/
        justify-content: center;
        margin: 0 auto;
        border-bottom: .01px solid white;
        
    }

    .intro::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:linear-gradient(45deg,#ff0081,#6827b0);
        border-radius: 0 0 50% 50%/0 0 100% 100%;
        transform: scaleX(1.5);
        
    }

     .intro-div{
        display: grid;
        column-gap: 1em;
        grid-template-areas: 
           "img title"
           "img subtitle";
           grid-template-columns: min-content max-content;
           height: 19.7em;
           position: relative;
           margin-top: 3em;
     }




    .section__title--intro {
        margin-bottom: 0;
        margin-top: 1em;
        color: white;
    }
    /*.intro::before{
        content: "";
        background-color: var(--clr-dark);
        background-image: url(../img/bg_intro_2.jpg);
        background-size: cover;
        background-blend-mode: multiply;
        height: 34em;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }*/
    .intro__img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section__subtitle--intro{
        /*align-self is wrapping the subtitle from bottom*/
        align-self: start;
        /*by grid-column: -1/1 this subtitle takes full space of two columns*/
        grid-column: -1/1;
        /*by grid-column:and grid-row: this decides in which column our element will lie*/
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }

    .section__title--intro {
        font-weight: var(--fw-reg);
        margin-bottom: 0;
        margin-top: 1em;
    }
}


@media(max-width: 1326px) and (min-width: 521px){
    .intro__img{
        min-width: 200px;
    }
    .section__subtitle--intro{
        width: calc(100% + 4.8em);
    }

    .intro-div{
           height: unset;
     }
    .section__title--intro {
        font-size: 2.9em;
    }

}
/*this media query fired from 800px width to 521px width*/
@media(max-width: 800px) and (min-width: 521px){
    /*.intro__img{
        min-width: 220px;
    }*/
    .section__subtitle--intro{
        width: calc(100% + 1.5em);
    }
    
   /* .intro-div{
        margin-top: 0;
  }*/

}


/*services section(What I do)*/
.my-services{

    /*background-color: var(--clr-dark);
    background-image: url(../img/service_1920.jpg);
    background-size: cover;
    background-blend-mode: multiply;*/
    color: var(--clr-light);
    text-align: center;
}
.my-services p{
    /*display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;*/
    text-align: justify;
    font-size: .8em;
    color: black;
}
.section__title--services{
    position: relative;
}
.section__title--work{
    color: #fff;
}

.services h3{
    color: #fa7b1d;
    font-size: 1.5em;
    padding-top: 1em ;
}
@media(max-width: 290px){
    .services h3{
    font-size: 1.2em;
    }
}

.services{
    margin-bottom: 4em;
}
.section__title--services::after{
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: .5em auto 1em;
    opacity: .25;
    background: var(--clr-light);
}
.service{
    max-width: 500px;
    margin: .5em auto;
    /*changes*/
    background: #fff;
    box-shadow: var(--bs);
    /*box-shadow: 0 5px 15px rgba(0,0,0,.1);*/
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
/*#box::before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    
    background: rgba(255,255,255,.2);
    z-index: 2;
    pointer-events: none;
}*/
.icon{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: .5s;
}
.services .service:nth-child(1) .icon{
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}
.services .service:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px #e91e63;
    background: #0876b6;
}
.services .service:nth-child(2) .icon{
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629
}
.services .service:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px #23e629;
    background: #253c49;
}

@media(max-width:540px){
    .services .service:nth-child(1):hover .icon{
        box-shadow: 0 0 0 800px #e91e63;
    }
    .services .service:nth-child(2):hover .icon{
        box-shadow: 0 0 0 800px #23e629;
    }
}

.services .service .content{
    position: relative;
    z-index: 1;
}
.services .service:hover .service-para,
.services .service:hover .service-h3
{
    color: #fff;
}
.content a{
    display: none;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
@media(min-width: 800px){
    /*services is the parent div container of three div*/
    .services{
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .service + .service{
        margin-left: 2em;
    }
}
@media(min-width: 450px){
    .content a{
        display: none;
    }
}
/*@media(max-width: 400px){
    .my-services p{
        font-size: .66em;
    }
}*/

/*About Me Section*/

/*.my-info{
    
    box-shadow: var(--bs);
    padding: 1em;
    border-top-left-radius: 17px;
    border-bottom-right-radius: 17px;
 }*/
.about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    /*max-width: 1000px;
    margin: 0 auto;*/
    border-bottom: 1px solid rgb(219, 217, 217);
}
.about-me__body p{
    text-align: justify;
}
@media(max-width: 759px){
    .about-me__body p{
        font-size: .66em;
    }
}
@media(min-width: 760px){
    .about-me__body p{
        font-size: .8em;
    }
}
@media(max-width: 485px) and (min-width: 460px){
    .section__title--about {
        font-size: 1.2em;
    }
}

/*@media(max-width: 672px) and (min-width: 560px){
    .about-me__img{
        height: 2em;
    }
}*/
@media(max-width: 1012px) and (min-width: 460px){
    /*.about-me{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        this is maiking our content to be centered in y direction
    }*/

    .about_me_div{
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img" ;
            column-gap: 2em;
            
    }
    .section__title--about{
        grid-area: title;
    }
    
    .section__subtitle--about{
        grid-column: -1/1;
        grid-row: 2;
        position: relative;
        /*grid-area: subtitle;*/
        left: -1em;
        width: calc(100% + 2.5em);
        padding-left: 1em;
        /*padding-right: calc(200px + 4em);*/
        
    }
    .about-me__img{
        grid-area: img;
        height: 100%;
        position: relative;
        z-index: 2;
    }

    /*changes to about me section*/
    /*.my-info{
       position: relative;
       top: 1em;
    }*/
    /*.item_div{
        display: flex;
        width: max-content;
    }*/
    /*.my-info h2{
        font-size: 1.2em;
    }*/

}
.about-me__img{
    box-shadow: var(--bs);
}
.item_div{
    display: flex;
    font-size: .8em;
    width: max-content;
}
.item-div-link .link:focus{
        outline: none;
    }
.item-div-link-1{
    margin-top: .6em;
}
.item-div-link-2{
    display: flex;
    margin-top: .9em;
}
.item-div-link-3{
  
    margin-top: .9em;
}
.mycv-link{
    border: 2px solid black;
    padding: .5em;
    width: 15em;
    text-align: center;
    background-color: rgb(0, 153, 255);
    color: white;
    box-shadow: var(--bs);
    border-radius: 4px;
}
.mycv-link:hover{
    box-shadow: none;
}
.item-div-link .link{
    text-decoration: none;
}
.bitbucket-link{
    margin-left: .7em;
}
.item-div-link-1 .link:hover,
.item-div-link-2 .link:hover{
    text-decoration: underline;
}
.my-info h2{
    font-size: 1em;
    margin: .5em 0;
}
.item_div .label,
.item_div .value{

    margin: .5em 0;
}
.item_div .label{
    color: var(--clr-dark);
    font-weight: var(--fw-bold);
}

@media(min-width: 1013px){
/*??????????????*/
    /*.about-me{
        this is maiking our content to be centered in y direction   
    }*/
    .about_me_div{
        display: grid;
        grid-template-columns: .7fr 300px;
        align-items: center;
        justify-content: center;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img" ;
            column-gap: 2em;
    }
    .section__title--about{
        grid-area: title;
    }
    
    .section__subtitle--about{
        grid-column: -1/1;
        grid-row: 2;
        position: relative;
        /*grid-area: subtitle;*/
        left: -1em;
        width: calc(100% + 2.5em);
        padding-left: 1em;
        /*padding-right: calc(200px + 4em);*/
        
    }
    .about-me__img{
        grid-area: img;
        height: 100%;
        position: relative;
        z-index: 2;
    }

    /*changes to about me section*/
    /*.my-info{
       position: relative;
       left: -3.5em;
       box-shadow: var(--bs);
       padding: 1em;
       border-top-left-radius: 17px;
       border-bottom-right-radius: 17px;
    }
    .item_div{
        display: flex;
        width: max-content;
    }
    .my-info h2{
        font-size: 1.2em;
    }*/
}

/*.item_div{
    display: flex;
    width: max-content;
}*/

/*@media(max-width: 559px){
    .my-info{
        position: relative;
        top: 1em;
     }
}*/
/*My Skills*/

.my-skills{
    display: flex;
    /*After giving flex-direction: column then align-items: center worked*/
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgb(209, 206, 206);
}


.skill-name{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    /*margin: 20px 0;*/
    padding-top: 20px;
}
.skill-bar{
    width: 500px;
    height: 20px;
    background: #cacaca;
    border-radius: 8px;
}
.skill-per{
    height: 20px;
    background-color:#0fbcf9;
    border-radius: 8px;
    width: 0;
    transition: 1s linear;
    position: relative;
}
.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}
.skill-per::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}
/*.my-skill-div{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.bar-container{
    height: 6px;
    width: 25em;
    background-color: rgb(192, 190, 190);
    border-radius: 4.3px;
    margin-bottom: .5em;
}
.bar{
    height: 6px;
    background-color: rgb(51, 64, 243);
    border-radius: 4.3px;
}
.java-bar{
    width: 80%;
}
.php-bar{
    width: 40%;
}
.css-bar{
    width: 40%;
}
.html-bar{
    width: 45%;
}
.java-script-bar{
    width: 50%;
}

.prog-lang{
    margin-bottom: 0;
    font-size: .7em;
}*/

@media(max-width: 672px) and (min-width: 501px){
    .skill-bar{
        width: 18em;
    }
}

@media(max-width: 500px) and (min-width: 400px){
    .skill-bar{
        width: 15em;
    }
}
@media(max-width: 399px) and (min-width: 300px){
    .skill-bar{
        width: 13em;
    }
}
@media(max-width: 299px) and (min-width: 240px){
    .skill-bar{
        width: 11em;
    }
}

/* My Work */
.my-work{
    background-color: var(--clr-dark);
    background-image: url(../img/service_1920.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.portfolio{
    display: grid;
    /*grid-template-columns: repeat(4,1fr);*/
    grid-template-columns: repeat(3,minmax(270px, 1fr));
    justify-content: center;
    align-items: center;
    text-align: center;
   /* column-gap: 10px;
    row-gap: 10px;*/
}
/*anchor tag*/
.portfolio__item{
    background: var(--clr-accent);
    overflow: hidden;
    /*border-radius: 5px;
    box-shadow: var(--bs);*/
    padding: 10px;
    height: 300px;
    border-right: 1px solid rgb(87, 85, 85);
    border-bottom: 1px solid rgb(87, 85, 85);
    transition: all .7s ease-in-out;
    text-align: center;
}

.portfolio_item_1{
    background: rgb(241, 149, 149);
}
.portfolio_item_2{
    background: rgb(230, 178, 178);
}
.portfolio_item_3{
    background: rgb(181, 241, 176);
}
.portfolio_item_4{
    background: rgb(166, 155, 229);
}

.div_img{
    width: 100%;
    height: 280px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.portfolio__item p{
    position: absolute;
    color: #fdfafa;
    z-index: -1;
    width: 25%;
    font-size: .85em;
    margin-top: 7em;
    margin-left: 2em;
    /*margin-left: 3.67em;*/
    text-align: justify;
    
}
/*.portfolio_item_1 p{
    margin-top: 8.4em;
    margin-left: 2em;
    margin-left: 2.6em;
}
.portfolio_item_2 p{
    margin-top: 8.4em;
    margin-left: 2em;
    margin-left: 2.6em;
}
.portfolio_item_3 p{
    margin-top: 8.4em;
    margin-left: 2em;
    margin-left: 2.6em;
}
.portfolio_item_4 p{
    margin-top: 8.4em;
    margin-left: 2em;
    margin-left: 2.6em;
}*/

.div_img_1::before{
    content: 'My Portfolio website';
    position: absolute;
    font-size: 1em;
    font-weight: var(--fw-bold);
    z-index: 100;
    margin-top: 4em;
    margin-left: -4.9em;
    color: var(--clr-light);
    display: none;
    font-family: var(--ff-primary);   
}

.div_img_2::before{
    content: 'Ice Cream Shop';
    position: absolute;
    font-size: 1em;
    font-weight: var(--fw-bold);
    z-index: 100;
    margin-top: 4em;
    margin-left: -3.5em;
    color: var(--clr-light);
    display: none;
    font-family: var(--ff-primary);   
}
.div_img_3::before{
    content: 'PDF Reader';
    position: absolute;
    font-size: 1em;
    font-weight: var(--fw-bold);
    z-index: 100;
    margin-top: 4em;
    margin-left:-2.8em;
    color: var(--clr-light);
    display: none;
    font-family: var(--ff-primary);   
}
.div_img_4::before{
    content: 'Class Routine Manager';
    position: absolute;
    font-size: 1em;
    font-weight: var(--fw-bold);
    z-index: 100;
    margin-top: 4em;
    margin-left: -5.6em;
    color: var(--clr-light);
    display: none;
    font-family: var(--ff-primary);   
}
.div_img_5::before{
    content: 'WhatsApp Status Saver';
    position: absolute;
    font-size: 1em;
    font-weight: var(--fw-bold);
    z-index: 100;
    margin-top: 4em;
    margin-left: -5.5em;
    color: var(--clr-light);
    display: none;
    font-family: var(--ff-primary);   
}



.portfolio__img{
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
    height: 99%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: var(--bs);
}
.web_portfolio_img{
    height: 70%;
    position: relative;
    margin-top: 35px;
}
.portfolio__item:focus{
    position: relative;
    z-index: 2;

}
.portfolio__img:hover,
.portfolio__item:focus .portfolio__img,
.portfolio__item:hover .portfolio__img{
    transform: scale(1.2);
    opacity: .24;
    
    
}
.portfolio__item:hover{
    background: rgb(147, 148, 148);
    /*transform:rotateY(360deg);*/
}

.portfolio__item:hover .div_img,
.portfolio__item:focus .div_img{
    border: 3px solid white;
}
.portfolio__item:hover .div_img::before,
.portfolio__item:focus .div_img::before
{
display: unset;
}
.portfolio__item:hover p,
.portfolio__item:focus p{
    z-index: 1;

}



@media(max-width: 1033px) and (min-width: 740px){
    .portfolio{
        grid-template-columns: repeat(2,minmax(200px, 1fr));
        
    }
}
@media(max-width: 739px){
    .portfolio{
        grid-template-columns: repeat(1,minmax(200px, 1fr));
        
    }
}



/*for mobile*/
@media(max-width: 1100px) and (min-width: 1033px){
    .portfolio__item p{
        margin-left: 1.2em;
    }
}
@media(max-width: 1032px) and (min-width: 900px){
    .portfolio__item p{
        margin-left: 6.2em;
    }
}
@media(max-width: 900px) and (min-width: 800px){
    .portfolio__item p{
        margin-left: 5.2em;
    }
}




@media(max-width: 798px) and (min-width: 740px){
    .portfolio__item p{
        margin-left: 1.6em;
        width: 35%;
    }
    .div_img::before{
        font-size: .85em;
    }

}
@media(max-width: 739px) and (min-width: 548px){
    .portfolio__item p{
        margin-left: 2.4em;
        width: 75%;
    }
    .div_img::before{
        font-size: .85em;
    }

}
@media(max-width: 547px) and (min-width: 449px){
    .portfolio__item p{
        margin-left: 2em;
        width: 65%;
    }
    .div_img::before{
        font-size: .85em;
    }

}
@media(max-width: 448px) and (min-width: 390px){
    .portfolio__item p{
        margin-left: 3.2em;
        width: 55%;
        font-size: .7em;
        
    }
    .div_img::before{
        font-size: .85em;
    }

}
@media(max-width: 389px) and (min-width: 329px){
    .portfolio__item p{
        margin-left: 2.5em;
        margin-top: 8em;
        width: 50%;
        font-size: .7em;
        
    }
    .div_img::before{
        margin-top: 2em;
        font-size: .85em;
    }

}
@media(max-width: 328px) and (min-width: 311px){
    .portfolio__item p{
        margin-left: 1.9em;
        margin-top: 6em;
        width: 52%;
        font-size: .7em;
        
    }
    .div_img::before{
        margin-top: 2em;
        font-size: .85em;
    }

}
@media(max-width: 311px) and (min-width: 200px){
    .portfolio__item p{
        margin-left: 1.5em;
        margin-top: 6em;
        width: 52%;
        font-size: .7em;
        
    }
    .div_img::before{
        margin-top: 2em;
        font-size: .85em;
    }

}
/*Contact section*/
.contact-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-title-contact{
    text-align: center;
}
.contact-container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 2.5em 0;
    max-width: 800px;
    align-items: center;
    justify-content: center;
}
.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2em;
}
.phone-icon{
    text-align: center;
    background: crimson;
    border-radius: 30px;
    padding: 10px 10px;
    width: 50px;
    color: #fff;
    height: 50px;
}
.email-icon{
    text-align: center;
    background: rgb(84, 193, 243);
    border-radius: 30px;
    padding: 10px 10px;
    width: 50px;
    color: #fff;
    height: 50px;
}
.address-icon{
    text-align: center;
    background: rgb(243, 89, 210);
    border-radius: 30px;
    padding: 10px 10px;
    color: #fff;
    width: 50px;
    height: 50px;
}

.contact-info p{
   margin-top: -.5em;
   margin-bottom: 2em;
   font-size: .8em;
   text-align: center;
}
/*below are form codes*/
.contactform{
    width: 500px;
    padding: 40px;
    background: #fff;
    box-shadow: var(--bs);
    border-radius: 15px;
}
.contactform h2{
    font-size:30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0px;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: #666;
}
.contactform .inputbox input:focus~span,
.contactform .inputbox input:valid~span,
.contactform .inputbox textarea:focus~span,
.contactform .inputbox textarea:valid~span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media(max-width: 568px) and (min-width: 518px){
    .contactform{
        width: 490px;
    }
}
@media(max-width: 517px) and (min-width: 441px){
    .contactform{
        width: 420px;
    }
}

@media(max-width: 440px) and (min-width: 357px){
    .contactform{
        width: 330px;
    }
}
@media(max-width: 356px) and (min-width: 300px){
    .contactform{
        width: 280px;
    }
}
@media(max-width: 299px) and (min-width: 200px){
    .contactform{
        width: 240px;
    }
}
/*footer*/
.footer{
    background: rgb(31, 33, 77);
    text-align: center;
    height: min-content;
    /*padding: .5em 0 0 the last 0 cancels the padding from bottom that is applied by Y padding in the bottom*/
    padding: .5em 0;
    font-size: .9em;
}

.links-container{
    display: flex;
    border-bottom: 2px solid gray;
    flex-wrap: wrap;
    
}
.contact-container-div-footer{
    display: flex;
    
    
}
.contact-container-div-footer p{
    margin: 0;
    padding-left: 1em;
}
.links-footer{
    display: inline;
    color: #fff;
    list-style: none;
    text-align: left;
    padding: 0 3em;
    font-size: .9em;
}
.links-footer h3{
 font-size: 1.1em;
 padding-bottom: 1.5em;
 color: #fa7b1d
}
.links-footer .items a{
    color: #fff;
    text-decoration: none;
    transition: all .6s;
}
.links-footer a:hover{
    color: #fa7b1d;
}
.usefull-links-footer .items{
    padding: .3em;
}
.dev-links-footer .items{
    padding: .6em;
}
.contact-links-footer .items{
    padding: 1.1em 0;
}
@media(max-width: 400px){
    .links-footer{
        padding: 0;
    }
    .footer{
        padding: 0 .5em;
    }
}
#footer-para{
margin-bottom: 0;
}
/*.footer a{
    color: inherit;
    text-decoration: none;
}*/
/*My email text*/
/*.footer__link{
    font-weight: var(--fw-bold);
}
.footer__link:hover,
.social-list__link:hover{
    opacity: .7;
}
.footer__link:hover{
    text-decoration: underline;
}
.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}
.social-list__item{
    margin: 0 .5;
}
.social-list__link{
    padding: .5em;
}*/

/* Ice Cream Shop App */
.ice-cream-shop{
    background-color: rgb(18, 155, 132);
    color: var(--clr-light);
    text-align: center;
}
.drink-shop-header{
    background: #fff;
    box-shadow: var(--bs);
}
.drink-shop-header a{
    color: black;
}
/*this is not a grid*/
.container-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ice-img{
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 430px;
}
.div-img{
    width: 230px;
    height: 430px;
    display: inline-block;
    margin: .5em 0em;
    padding: 0;
}
.section-title-ice{
    position: relative;
    top: .5em;
}
.section-subtitle-ice{
    padding-top: .7em;
}
.ice-cream-shop h3{
    font-size: 2em;
    margin-top: .5;
}
.description h2{
    font-size: 2em;
}
.description p{
    text-align: justify;
}
